---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &name cloudflare-tunnel
  annotations:
    config.home-ops.io/managed: "true"
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *name
  targetNamespace: networking-system
  path: "./kubernetes/apps/networking-system/cloudflare-tunnel/app"
  dependsOn:
    - name: externaldns-cloudflare # needed for secret substitute
      namespace: networking-system
    - name: onepassword-connect
      namespace: security-system
  postBuild:
    substituteFrom:
      - kind: Secret
        name: cloudflare
