---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &name cronjob-k8s-schemas
  annotations:
    config.home-ops.io/managed: "true"
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *name
  targetNamespace: gitops-system
  path: "./kubernetes/apps/gitops-system/cronjob-k8s-schemas/app"
  dependsOn:
    - name: onepassword-connect
      namespace: security-system
