---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name calibre-web
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: gitops-system

  values:
    controllers:
      *name :
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/linuxserver/calibre-web
              tag: 0.6.26-ls371
            env:
              PUID: "2000"
              PGID: "100"
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  exec:
                    command:
                      - /bin/sh
                      - -c
                      - >
                        ls /books > /dev/null
                  initialDelaySeconds: 30
                  periodSeconds: 30
                  timeoutSeconds: 15
                  failureThreshold: 2
                  successThreshold: 1
            resources:
              requests:
                cpu: 50m
              limits:
                memory: 1Gi
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: { drop: ["ALL"] }
              readOnlyRootFilesystem: true

    service:
      app:
        ports:
          http:
            port: 8083
    route:
      app:
        hostnames: ["calibre.noirprime.com"]
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: calibre.svg
          gethomepage.dev/name: Calibre
          gethomepage.dev/group: Service
        parentRefs:
          - name: kgateway-internal
            namespace: networking-system

    persistence:
      app:
        existingClaim: *name
        globalMounts:
          - path: /config
      shared:
        existingClaim: document
        globalMounts:
          - path: /books
      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /run
            subPath: run
          - path: /tmp
            subPath: tmp
