---
configs:
  local.ini:
    content: |
      [couchdb]
      single_node=true
      max_document_size = 50000000
      [chttpd]
      require_valid_user = true
      max_http_request_size = 4294967296
      enable_cors = true
      [chttpd_auth]
      require_valid_user = true
      authentication_redirect = /_utils/session.html
      [httpd]
      WWW-Authenticate = Basic realm="couchdb"
      bind_address = 0.0.0.0
      [cors]
      origins = app://obsidian.md, capacitor://localhost, http://localhost
      credentials = true
      headers = accept, authorization, content-type, origin, referer
      methods = GET,PUT,POST,HEAD,DELETE
      max_age = 3600

services:
  obsidian-livesync:
    image: "couchdb:3.5.1"
    container_name: "obsidian-livesync"
    restart: "unless-stopped"
    ports:
      - "5984:5984/tcp"
    configs:
      - source: "local.ini"
        target: "/opt/couchdb/etc/local.ini"
    environment:
      - "COUCHDB_USER=${OBSIDIAN_COUCHDB_USER}"
      - "COUCHDB_PASSWORD=${OBSIDIAN_COUCHDB_PASSWORD}"
    volumes:
      - "${DOCKER_ROOT}/obsidian-livesync:/opt/couchdb/data"
