---
# meshcentral listens on port 4433 (AMT) and 444 (https)

configs:
  config.json:
    content: |
      { "settings": { "agentTimeStampServer": false }, "domains": { "": { "allowedOrigin": true } } }

services:
  talos-api:
    image: "ghcr.io/siderolabs/discovery-service:v1.0.14"
    container_name: "talos-api"
    restart: "unless-stopped"
    ports:
      - "9300:3000/tcp"

  meshcentral:
    image: "ghcr.io/ylianst/meshcentral:1.1.56"
    container_name: "meshcentral"
    restart: "unless-stopped"
    network_mode: "host"
    configs:
      - source: "config.json"
        target: "/opt/meshcentral/meshcentral-data/config.json"
    volumes:
      - "${DOCKER_ROOT}/meshcentral/data:/opt/meshcentral/meshcentral-data"
