---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: flux-repositories
  namespace: gitops-system
spec:
  targetNamespace: gitops-system
  interval: 1h
  path: ./kubernetes/flux/repositories
  prune: true
  wait: false
  sourceRef:
    kind: GitRepository
    name: gitops-system
---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps
  namespace: gitops-system
spec:
  interval: 10m
  path: ./kubernetes/apps
  prune: true
  sourceRef:
    kind: GitRepository
    name: gitops-system
  dependsOn:
    - name: flux-repositories
  patches:
    - # Add Kustomization defaults to all app ks.yaml
      patch: |-
        apiVersion: kustomize.toolkit.fluxcd.io/v1
        kind: Kustomization
        metadata:
          name: _
        spec:
          interval: 1h
          timeout: 5m
          sourceRef:
            kind: GitRepository
            name: gitops-system
            namespace: gitops-system
          prune: true
          wait: false
      target:
        group: kustomize.toolkit.fluxcd.io
        kind: Kustomization
        annotationSelector: "config.home-ops.io/managed=true"
    - # Add baseline dependsOn for all app ks.yaml
      patch: |-
        apiVersion: kustomize.toolkit.fluxcd.io/v1
        kind: Kustomization
        metadata:
          name: _
        spec:
          dependsOn:
            - name: onepassword-connect
              namespace: security-system
            - name: rook-ceph-cluster
              namespace: storage-system
            - name: volsync
              namespace: storage-system
      target:
        group: kustomize.toolkit.fluxcd.io
        kind: Kustomization
        labelSelector: "config.home-ops.io/deps=infra"
    - # Add HelmRelease defaults to all child Kustomizations
      patch: |-
        apiVersion: kustomize.toolkit.fluxcd.io/v1
        kind: Kustomization
        metadata:
          name: _
        spec:
          patches:
            - patch: |-
                apiVersion: helm.toolkit.fluxcd.io/v2
                kind: HelmRelease
                metadata:
                  name: _
                spec:
                  maxHistory: 1
                  install:
                    crds: CreateReplace
                    strategy:
                      name: RetryOnFailure
                    remediation:
                      retries: -1
                  rollback:
                    cleanupOnFail: true
                    recreate: true
                  upgrade:
                    cleanupOnFail: true
                    crds: CreateReplace
                    strategy:
                      name: RemediateOnFailure
                    remediation:
                      remediateLastFailure: true
                      retries: 3
                  uninstall:
                    keepHistory: false
              target:
                group: helm.toolkit.fluxcd.io
                kind: HelmRelease
      target:
        group: kustomize.toolkit.fluxcd.io
        kind: Kustomization
