---
# yaml-language-server: $schema=https://kubernetes-schemas.noirprime.com/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name scrypted
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: gitops-system

  values:
    controllers:
      *name :
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          securityContext:
            runAsNonRoot: true
            runAsUser: 2000
            runAsGroup: 2000
            fsGroup: 101 # synology:admin
            fsGroupChangePolicy: OnRootMismatch
        containers:
          app:
            image:
              repository: ghcr.io/koush/scrypted
              tag: v0.143.0-noble-full
            envFrom:
              - secretRef:
                  name: *name
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  exec:
                    command:
                      - /bin/sh
                      - -c
                      - >
                        ls /recs > /dev/null
                  initialDelaySeconds: 30
                  periodSeconds: 30
                  timeoutSeconds: 15
                  failureThreshold: 5
                  successThreshold: 1
            resources:
              requests:
                cpu: 10m
                gpu.intel.com/i915: 1
              limits:
                memory: 8Gi
                gpu.intel.com/i915: 1
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: { drop: ["ALL"] }
              readOnlyRootFilesystem: true

    service:
      app:
        ports:
          http:
            port: 11080
            primary: true
          rebroadcast1:
            port: 34135
          rebroadcast2:
            port: 34136
    route:
      app:
        hostnames: ["scrypted.noirprime.com"]
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: scrypted.svg
          gethomepage.dev/name: ScryptedNVR
          gethomepage.dev/group: Service
        parentRefs:
          - name: kgateway-internal
            namespace: networking-system
        rules:
          - backendRefs:
              - identifier: app
                port: http

    persistence:
      app:
        existingClaim: *name
        globalMounts:
          - path: /server/volume
      shared:
        existingClaim: surveillance
        globalMounts:
          - path: /recs
            subPath: scrypted
      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /.cache
            subPath: cache
          - path: /.npm
            subPath: npm-cache
